@use '../abstract/variables';


%placeholder-name{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

@mixin mixinname($arg1, $arg2, $arg3 ) {
    @extend %placeholder-name;
    background-image: url($arg1);
    @media only screen and (min-width: 768px) {
        background-image: url($arg2);
    }
    @media only screen and (min-width: 1440px) {
        background-image: url($arg3);
    }
}

.home {
    @include mixinname (
        variables.$mobile-home-url,
        variables.$tablet-home-url,
        variables.$desktop-home-url, 
    );
}

.destination {
    @include mixinname (
        variables.$mobile-destination-url,
        variables.$tablet-destination-url,
        variables.$desktop-destination-url, 
    );
}

.crew {
    @include mixinname (
        variables.$mobile-crew-url,
        variables.$tablet-crew-url,
        variables.$desktop-crew-url, 
    );
}