.main-nav-wrapper {
    order: 2;
}

.main-nav {
    padding: 8rem 2rem;
    display: flex;
    gap: 3rem;
    z-index: 90;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    transform: translateX(100%);
    transition: transform 300ms ease-out;
    &[data-visible="true"] {
        transform: translateX(0%);
    }
    @supports (backdrop-filter: blur(3rem)) {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3rem);
    }
    @media only screen and (min-width: 768px) {
        gap: 5rem;
        height: 7rem;
        padding: 0 3rem;
        position: relative;
        inset: auto;
        align-items: center;
        flex-direction: row;
        transform: translateX(0%);
        &__item {
            padding: 2.8rem 0;
        }
    }
    @media only screen and (min-width: 1440px) {
        order: 2;
        padding: 0 15rem 0 10rem;
    }
}


