.tech-section {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1440px) {
        flex-direction: row;
        &>:nth-child(2){  
            order: -1;
        } 
        &>:nth-child(1){
            order: 2;
        } 
        width: 90%;
        margin-left: auto;
        align-items: center;
    }  
}

.tech-img {
    width: 100%;
    height: auto; 
    @media only screen and (min-width: 1440px) {
        display: none;
    }  
}

.tech-img-2 {
    display: none;
    height: auto; 
    @media only screen and (min-width: 1440px) {
        display: block;
        margin-left: auto;
    }
}

.tech-summary {
    padding-bottom: 50px;
    &__term {
        letter-spacing: 0.2rem;
        @media only screen and (min-width: 1440px) {
            text-align: left;
            margin: 0 ;
        } 
    }
    &__header {
       
        @media only screen and (min-width: 1440px) {
            text-align: left;
            margin-bottom: 20px;
            margin: 10px 0 20px -6px
        } 
    }
    &__para {
        margin: 30px auto;
        max-width: 320px;
        @media only screen and (min-width: 768px) {
            max-width: 420px;
        } 
        @media only screen and (min-width: 1440px) {
            text-align: left;
            margin: 0 ;
        } 
    }
    @media only screen and (min-width: 1440px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0;
        height: 380px;
    }
}