@use '../abstract/colors';

.explore {
    width:  150px;
    height: 150px;
    margin:  95px auto;
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
        font-size: 1.296rem;
        color: colors.$vulcan;
        padding-top: 5px;
    }
}