.explore {
    width:  150px;
    height: 150px;
    margin:  95px auto;
    padding: 0;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.793rem;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
        padding-top: 5px;
    }
}