
body {
    font-family: 'Bellefair', serif;
    color: #fff;
    text-align: c;
}

.home {
    width: 90%;
    margin: 0 auto;
}

ul {
    padding: 0;
    list-style: none;
}

.logo {
    width: 40px;
    height: 40px;
}

