@use '../abstract/colors';

*, *:before, *:after {
    box-sizing: border-box;
  }

html, 
body {
    margin: 0px;
}

body {
    font-family: 'Bellefair', serif;
    color: #fff;
    overflow-x: hidden;
    max-width: 1920px;
    background-color: #0B0D17;
}

a {
    color: white;
    text-decoration: none;
}

hr {
    height: 1px;
    border: none;
    background-color: rgb(90, 90, 90);
}

ul {
    margin:  0;
    padding: 0;
    list-style: none;
}

b {
    @media screen and (min-width: 768px) and (max-width: 1440px) { 
        display: none;
    }
}

hr {
    width: 80%;
    background-color: rgba(151, 151, 151, 0.2);
    @media only screen and (min-width: 768px) {
        width: 620px;
    }
    
    @media only screen and (min-width: 1440px) {
        width: 100%;
    }
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.d-underlines {
    border-bottom: .2rem solid transparent;
}

.underlines {
    @media only screen and (min-width: 768px) {
        border-bottom: .2rem solid transparent;
    }
}

.d-active {
    border-color: white;
    pointer-events: none;
}

.active {
    @media only screen and (min-width: 768px) {
        border-color: white;
        pointer-events: none;
    }
}

.mb-active {
    border-right: 5px solid white;
    @media only screen and (min-width: 768px) {
        border-right: 0;
    }
}