@use '../abstract/colors';

// Using the minor second type scale
html {
    font-size: 15px;
}



p {
    font-size: 0.937rem;
    line-height: 25px;
    letter-spacing: 1px;
    color: colors.$tropical-blue;
}

h1 {
    font-size: 3.429rem;  
}

h2 {
  font-size: 2.178rem;
}

h3 {
  
}

h4 {
    font-size: 1rem;
    letter-spacing: 0.29em;
    color: colors.$tropical-blue;
}


h5 {
    font-size: 0.878rem;
    letter-spacing: 0.2em;
    color: colors.$tropical-blue;
}

h6 {

}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    font-weight: 400; 
}

li {
    letter-spacing: 2px;
}

p,
li, 
h4 {
    font-family: 'Barlow Condensed', sans-serif;
}



.space {
    margin:  0 0 20px 0;
    padding: 0;
    font-size: 6.146rem;
}


// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Bellefair', serif;

